<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hutb.user.mapper.UserMapper">
    <select id="queryUserList" resultType="com.hutb.user.model.pojo.User">
        select * from user where status = '1'
        <if test="username != null and username != ''">
            and username like CONCAT('%', #{username}, '%')
        </if>
        <if test="queryCondition != null and queryCondition != ''">
            and (username like CONCAT('%', #{queryCondition}, '%')
                or phone like CONCAT('%', #{queryCondition}, '%'))
        </if>
        order by update_time desc
    </select>
</mapper>